@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?ykjcx1');
  src:  url('fonts/icons.eot?ykjcx1#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?ykjcx1') format('truetype'),
    url('fonts/icons.woff?ykjcx1') format('woff'),
    url('fonts/icons.svg?ykjcx1#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mc-"], [class*=" mc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-clock:before {
  content: "\e900";
}
.mc-earth:before {
  content: "\e901";
}
.mc-laptop:before {
  content: "\e902";
}
.mc-inbox:before {
  content: "\e903";
}
.mc-message:before {
  content: "\e904";
}
.mc-moon:before {
  content: "\e905";
}
.mc-sun:before {
  content: "\e906";
}
.mc-fingerprint:before {
  content: "\e907";
}
.mc-language:before {
  content: "\e908";
}
.mc-code:before {
  content: "\e909";
}
.mc-redirect:before {
  content: "\e90a";
}
.mc-arrows-rotate:before {
  content: "\e90b";
}
.mc-arrow-rotate:before {
  content: "\e90c";
}
.mc-arrow-down:before {
  content: "\e90d";
}
.mc-arrow-left:before {
  content: "\e90e";
}
.mc-arrow-right:before {
  content: "\e90f";
}
.mc-arrow-up:before {
  content: "\e910";
}
.mc-chevron-down:before {
  content: "\e911";
}
.mc-chevron-left:before {
  content: "\e912";
}
.mc-chevron-right:before {
  content: "\e913";
}
.mc-chevron-up:before {
  content: "\e914";
}
.mc-x:before {
  content: "\e915";
}
