:root {
  color-scheme: light;
  --mc-color-bg-main: #fbfdfe;
  --mc-color-primary: #0c66c1;

  --mc-color-border: #d8d8d8;
  --mc-color-text: #112130;
  --mc-color-placeholder: #575757;
  --mc-color-disabled: #a8a8a8;
  --mc-color-error: #d80000;
  --mc-font-family: "Poppins", sans-serif;
}

[data-theme="dark"] {
  color-scheme: dark;
  --mc-color-bg-main: #091e25;
  --mc-color-primary: #0c8adf;

  --mc-color-border: #ffffff33;
  --mc-color-text: #bebebe;
  --mc-color-placeholder: #a1a1a1;
  --mc-color-disabled: #585858;
  --mc-color-error: #d80000;
  --mc-font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--mc-font-family);
  padding: 0;
  margin: 0;
}

.w-full{
  width: 100% !important;
}
