:root {
  color-scheme: light;
  --color-bg-main: #fbfdfe;
  --color-text: #112130;
  --color-placeholder: #575757;
  --color-disabled: #a8a8a8;
  --color-primary: #0c66c1;
  --color-error: #d80000;
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-bg-main: #091e25;
  --color-text: #bebebe;
  --color-placeholder: #a1a1a1;
  --color-disabled: #585858;
  --color-primary: #0c8adf;
  --color-error: #d80000;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.w-full{
  width: 100% !important;
}