.checkboxComponent {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  width: fit-content;

  .checkboxElement{
    position: relative;
    display: flex;
    align-items: center;

    &.disabled {
      cursor: not-allowed;
    }

    input[type="checkbox"] {
      cursor: pointer;
      appearance: none;
      background-color: transparent;
      margin: 0;
      font: inherit;
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid var(--color-placeholder);
      border-radius: 0.25rem;
      display: grid;
      align-items: center;
      justify-content: center;
      outline: none;

      &:hover:not(:disabled){
        border-color: var(--color-primary);
      }

      &:disabled {
        cursor: not-allowed;
        border-color: var(--color-disabled);
      }

      &:disabled + label {
        cursor: not-allowed;
        color: var(--color-disabled);
      }

      &:checked {
        border-color: var(--color-primary);
      }

      &:disabled:checked {
        border-color: var(--color-disabled);
      }

      &:disabled:before {
        background-color: var(--color-disabled);
      }

      &:focus-visible {
        box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-primary) 25%, transparent);
      }

      &::before {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 0.12rem;
        transform: scale(0);
        transition: transform 0.2s;
        background-color: var(--color-primary);
      }
      
      &:checked::before {
        transform: scale(1);
      }
    }

    label {
      font-size: 0.8rem;
      font-weight: 400;
      color: var(--color-text);
      margin-left: 0.5rem;
    }
  }

  .error {
    display: block;
    color: var(--color-error);
    font-size: 0.8rem;
  }
}