.chip {
  width: max-content;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;

  &.small{
    font-size: 0.7rem;
    line-height: 1rem;
  }

  &.medium {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  &.large {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  &.primary {
    color: var(--mc-color-primary);
    background-color: color-mix(in srgb, var(--mc-color-primary), #fff 90%);

    &:hover:not(:disabled):not([aria-readonly="true"]) {
      border-color: var(--mc-color-primary);
    }
  }

  &.outline {
    color: var(--mc-color-text);
    background-color: transparent;
    border: 1px solid var(--mc-color-border);

    &:hover:not(:disabled):not([aria-readonly="true"]) {
      border-color: var(--mc-color-primary);
    color: var(--mc-color-primary);
    }
  }

  &[aria-readonly="true"] {
    cursor: inherit;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

:global([data-theme="dark"]) .chip.primary {
  background-color: color-mix(in srgb, var(--mc-color-primary), #000 70%);
}
